@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var indexSiteTitle = Umbraco.Field("siteTitle", recursive: true).ToHtmlString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Umbraco.RenderMacro("SiteTitle", new { dictionaryItem = indexSiteTitle })</title>


    @Scripts.Render("~/Scripts/jQuery")
    @Scripts.Render("~/Scripts/Bootstrap")
    @Styles.Render("~/CSS/Common")
    @Styles.Render("~/CSS/angular-growl")
    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/Scripts/angular-ui")
    @Scripts.Render("~/Scripts/angular/app")


</head>
    <body ng-app="umbracoFoodApp">
        
        <div growl></div>

        <div class="container">
            @{ Html.RenderPartial("MainNavigation"); }
        </div>
    
        <div class="container">
            @RenderBody()
        </div>

        @RenderSection("Scripts", false)
    </body>
</html>
